
.sectionHeader, .committeeFinancesSection {
  --dashboard-blue: #16375D;
}

.outerContainer {
  min-height: 400px;
  width: 360px;
  background-color: #f8f9fa;
  border-style: solid;
}

.sectionHeader {
  font-size: 0.8em;
  color: white;
  background-color: var(--dashboard-blue);
  padding: 5px;
}

.committeeFinancesSection {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--dashboard-blue);
}

.outsideCommitteeSection {
  display: flex;
  flex-direction: column;
}
